	<!-- HEADER -->
	    <header class="navbar navbar-fixed-top">
	    	<div class="navbar-inner">
	    		<div class="container">
	    			<%= link_to "My App", root_path, id:"logo" %>        <!-- Un lien sur le LOGO -->
	    			<nav>
	    				<ul class="nav pull-right">
	    					<li><%= link_to "Home",     root_path %></li>  <!-- Un lien vers HOME -->
	    					<li><%= link_to "Help",     help_path %></li>  <!-- Un lien vers HELP -->
	    					<li><%= link_to "About",    about_path %></li>  <!-- Un lien vers ABOUT -->
	    					<li><%= link_to "Sign in",  signin_path %></li>  <!-- Un lien vers SIGN IN -->
	    				</ul>
	    			</nav>
	    		</div>	
	    	</div>
	    </header>