<!DOCTYPE html>
<html>
	<head>
	    <title> 
	    <%= full_title(yield(:title)) %> 
	    </title>
	    <%= stylesheet_link_tag    "application", :media => "all" %>
	    <%= javascript_include_tag "application" %>
	    <%= csrf_meta_tags %>
	    <%= render 'layouts/shim' %>   <!-- Ajout du partial (code specifique IE9) -->
	</head>

	<body>
		<%= render 'layouts/header' %> <!-- Ajout du partial header -->  

	    <!-- CONTENEUR (Bootstrap) -->
	    <div class="container">
	   		<%= yield %>                   <!-- Contient notre titre de page dynamique -->

	   		<div class="center hero-unit">
	   			<h1>Bienvenue sur My App</h1>
	   			<h2>Page d'accueil qui suit le tutoriel <a href="http://railstutorial.org">Ruby on Rails</a> </h2> <br/>

	   			<%= link_to "Sign up", "#", class: "btn btn-large btn-primary" %>		
	   		</div>
	   		<%= render 'layouts/footer' %>  <!-- Ajout du partial header -->  
	    </div>

	</body>
</html>
